# CSS snippets
snippet id
	#${1:Id} {
		${2}
	}
snippet .
	.${1:ClassName} {
		${2}
	}
snippet bc
	background-color:#${1};
snippet bi
	background-image:url(${1});
snippet brd
	border:${1}px ${2:solid} #${3};
snippet m
	margin:${1};
snippet mb
	margin-bottom:${1};
snippet ml
	margin-left:${1};
snippet mr
	margin-right:${1};
snippet mt
	margin-top:${1};
